.form-group
  = f.label s_('RepositoryViewLevel|Allowed to view source code and merge requests in private projects'), class: 'label-bold'
  = f.select :repository_view_level, options_for_select(::Gitlab::Access.repository_view_options, group.repository_view_level), {}, class: 'form-control'
