.form-group.row
  .col-sm-2.col-form-label.pt-0
    = f.label :lfs_enabled, _('Large File Storage')
  .col-sm-10
    .form-check
      = f.check_box :lfs_enabled, checked: @group.lfs_enabled?, class: 'form-check-input'
      = f.label :lfs_enabled, class: 'form-check-label' do
        %strong
          = _('Allow projects within this group to use Git LFS')
          = link_to sprite_icon('question-o'), help_page_path('topics/git/lfs/index')
        %br/
        %span= _('This setting can be overridden in each project.')
.form-group.row
  .col-sm-2.col-form-label
    = f.label s_('ProjectCreationLevel|Allowed to create projects')
  .col-sm-10
    = f.select :project_creation_level, options_for_select(::Gitlab::Access.project_creation_options, @group.project_creation_level), {}, class: 'form-control'

.form-group.row
  .col-sm-2.col-form-label
    = f.label s_('SubgroupCreationlevel|Allowed to create subgroups')
  .col-sm-10
    = f.select :subgroup_creation_level, options_for_select(::Gitlab::Access.subgroup_creation_options, @group.subgroup_creation_level), {}, class: 'form-control'

.form-group.row
  .col-sm-2.col-form-label
    = f.label s_('RepositoryViewLevel|Allowed to view source code and merge requests in private projects')
  .col-sm-10
    = f.select :repository_view_level, options_for_select(::Gitlab::Access.repository_view_options, @group.repository_view_level), {}, class: 'form-control'

.form-group.row
  .col-sm-2.col-form-label.pt-0
    = f.label :require_two_factor_authentication, _('Two-factor authentication')
  .col-sm-10
    .form-check
      = f.check_box :require_two_factor_authentication, class: 'form-check-input'
      = f.label :require_two_factor_authentication, class: 'form-check-label' do
        %strong
          = _("Require all users in this group to set up two-factor authentication")
          = link_to sprite_icon('question-o'), help_page_path('security/two_factor_authentication', anchor: 'enforce-2fa-for-all-users-in-a-group')
.form-group.row
  .offset-sm-2.col-sm-10
    .form-check
      = f.text_field :two_factor_grace_period, class: 'form-control'
      .form-text.text-muted= _("Amount of time (in hours) that users are allowed to skip forced configuration of two-factor authentication")
